.tickerDetailPageLoadingProgress {
  display: flex;
  justify-content: center;
  margin: 50vh auto;
}

.tickerHeader {
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.tickerHeaderImage {
  max-height: 180px;
}

.tickerMain {
  margin: 20px 30px 60px 30px;
}

.tickerDescription {
  margin: 20px 30px;
}

.tickerDescriptionFooter {
  margin: 40px 30px 60px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.openInNewIcon {
  height: 15px;
  width: 15px;
}

.tickerDataVolumeForm {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tickerDataVolumeForm div {
  margin: 20px 0;
}

.tickerDataVolumeInput{
  color: rgb(25, 118, 210);;
  font-size: 1.25rem;
  width: 75px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
}

.tickerFooter {
  margin: 20px 30px;
  display: flex;
  justify-content: center;
}