

.SearchInputDiv {
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.SearchInputDiv form {
  margin: 0 auto;
  text-align: center;
}
.SearchInputFormTextField {
  margin:0 0 20px 0
}

.SearchInputFormButton {

}
.SearchInputFormButton:hover {

}

.SearchOutcomeListProgress {
  display: flex;
  justify-content: center;
  margin: 300px auto;
}

.SearchOutcomeListUl {
  margin:0 30px;
}

.SearchOutcomeListLi {
  margin: 15px 5px;
  list-style: none;
}
.SearchOutcomeTutorial {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none;
}

.SearchOutcomeListButtonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.SearchOutcomeListButton {
  margin: 0 20px;
}

.SearchOutcomeListPageText {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 20px;
}

.SearchOutcomeItemDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 7px;
  background-color: rgb(25, 118, 210,0.15);
}
.SearchOutcomeItemDiv section {
  display: flex;
  flex-direction: column;
}
.SearchOutcomeItemDiv section label {
  font-weight: bold;
  margin: 5px 0;
}